DirectoryIndex index.html

# enable apache rewrite engine
RewriteEngine on

# set rewrite base
RewriteBase /

# push every request to the api to index.php
RewriteRule ^api(.*)$ index.php [QSA,L]

# route all other requests to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]